pyrogram==2.0.106
TgCrypto==1.2.5
motor==3.3.2
pymongo==4.6.1
aiohttp==3.9.3
aiofiles==23.2.1
python-dotenv==1.0.1
yt-dlp==2024.3.10
aria2p==0.11.3
requests==2.31.0
Pillow==10.2.0
ffmpeg-python==0.2.0
humanize==4.9.0
psutil==5.9.8
qbittorrent-api==2024.1.59
mega.py==1.0.8
google-api-python-client==2.120.0
google-auth-httplib2==0.2.0
google-auth-oauthlib==1.2.0
pyshorteners==1.0.1
